.wrapper {
  background-color: #efefef;
  height: 100vh
}

.content {
  background-color: #ffffff;
  width: 960px;
  height: 680px;
  transform: translateY(14%);
  border-radius: 15px;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  .thumbnail {
    width: 150px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
  }
  
  .name {
    font-weight: 800;
  }
  
  .detail {
    p {
      margin: 0px;
    }
  }

  .search-bar {
    width: 96%;
    height: 60px;
    font-size: 1.4rem;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: solid;
    border-color: #bebebe;
  }
  .search-bar:focus {
    outline: none;
  }
}

.content::-webkit-scrollbar {
  display: none;
}

.icons {
  size: 20px;
}